@use "@gouvfr-lasuite/ui-kit/sass/fonts";
@use "@gouvfr-lasuite/ui-kit/style";
@use "./cunningham-tokens.css";
@use "./cunningham-tokens-sass" as *;

.c__header__right {
  gap: 1rem;
}

.projets_login .c__header {
  height: 91px;
  min-height: 91px;
  max-height: 91px;
  border: none;
}

.modal-button {
  font-family: inherit;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--c--theme--colors--greyscale-100);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--c--theme--colors--greyscale-100);
    outline: none;
  }
}

.bare-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  &:hover {
    background-color: none;
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.mdxeditor-toolbar {
  border-radius: 0;
  background-color: var(--c--theme--colors--greyscale-100);
}
