:global(#app) {
  .button {
    background: transparent;
    box-shadow: none;
    color: var(--c--contextuals--content--semantic--neutral--tertiary);
    font-weight: normal;
    margin-top: 8px;
    padding: 6px 11px;
    text-align: left;
    transition: none;

    &:hover {
      background: var(--c--contextuals--background--semantic--overlay--primary);
      color: var(--c--contextuals--content--semantic--neutral--primary);
    }
  }
}
