:global(#app) {
  .field {
    width: 100%;
    padding: 5px 8px 5px 12px;
    height: 22px;
    line-height: 20px;
    resize: none;
    min-height: 32px;
    display: flex;

    color: var(--c--contextuals--content--semantic--neutral--primary);
    border-radius: var(--c--components--forms-input--border-radius);
    border-width: var(--c--components--forms-input--border-width);
    border-color: var(--c--components--forms-input--border-color);
    border-style: var(--c--components--forms-input--border-style);
    background-color: var(--c--components--forms-input--background-color);

    &:focus {
      outline: 2px solid var(--c--components--forms-input--border-color--focus);
    }
  }
}
