:global(#app) {
  .deleteButton {
    bottom: 12px;
    position: absolute;
    right: 9px;
  }

  .field {
    margin-bottom: 8px;
  }

  .text {
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 6px;
  }
}
