:global(#app) {

  .headerName {
    padding: 6px 8px 6px 12px;
  }

  .inputField {
    border: none;
    border-color: #bbb;
    border-radius: 3px;
    color: #17394d;
    display: block;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 6px 8px 6px 12px;
    resize: none;
    width: 100%;

    &:focus {
      background: #fff;
      border-color: var(--c--theme--colors--greyscale-200);
      box-shadow: none;
    }
  }

}
