:global(#app) {

  .wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;

    &.dragging {
      opacity: 0.5;
    }

    .checkbox {
      margin-top: 6px;
      margin-right: 0.5rem;
    }

    .taskWrapper {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0.5rem;
      border-radius: 4px;
      display: flex;
      align-items: center;

      &.contentHoverable:hover {
        background: var(--c--contextuals--background--semantic--overlay--primary);
      }

      &.draggable {
        cursor: grab;

        &:active {
          cursor: grabbing;
        }
      }
    }

    .task {
      flex: 1;
      font-size: 14px;
      line-height: 20px;
      color: var(--c--contextuals--content--semantic--neutral--primary);
      &.taskCompleted {
        color: var(--c--contextuals--content--semantic--neutral--tertiary);
        text-decoration: line-through;
      }
    }

    .taskActionsButton {
      opacity: 0;
    }

    &:hover {
      .taskActionsButton {
        opacity: 1;
      }
    }

    &.popoverOpened {
      .taskWrapper {
        background-color: var(--c--contextuals--background--semantic--overlay--primary);
      }
      .taskActionsButton {
        opacity: 1;
      }
    }

  }
}
