:global(#app) {

  .cardModalWrapper {
    margin: -1.5rem;
    width: 700px;
  }

  .cardModalHeader {
    border-bottom: 1px solid var(--c--contextuals--border--semantic--neutral--tertiary);
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: var(--c--components--modal--background-color);
    z-index: 1000;

    .cardModalHeaderLeft {
      .boardSelectorIcon {
        margin-left: 4px;
      }
    }

    .cardModalHeaderRight {
      display: flex;
      flex-direction: row;
      gap: 16px;
      position: relative;
    }

    .optionsButtonContainer {
      position: relative;
    }

    .deletePopupContainer {
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: 8px;
      z-index: 1000;
    }

  }

  .cardModalContent {
    padding: 58px 20px 20px 20px;
  }

  .cardModalSection {
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    gap: 4px;

    .sectionTitle {
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      color: var(--c--contextuals--content--semantic--neutral--primary);
      margin-bottom: 0.5rem;
    }

    .cardModalSectionLeft {
      width: 28px;
      flex-shrink: 0;
      margin-top: 2px;
    }

    .cardModalSectionRight {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }

  .cardModalContent .cardModalSection:last-child {
    margin-bottom: 0;
  }

  .cardNameSection {
    padding-top: 24px;
    margin-bottom: 24px;

    .cardName {
      font-size: 22px;
      font-weight: bold;
      line-height: 28px;
    }
  }

  .cardButtonsSection {
    margin-bottom: 32px;

    .cardModalSectionRight {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      button {
        height: 32px;
      }
    }
  }

  .cardDetailsSection {

    .cardModalSectionRight {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 16px;
      flex-wrap: wrap;
    }

    .detailsItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .detailsItemTitle {
      font-size: 12px;
      font-weight: bold;
      line-height: 20px;
      color: var(--c--contextuals--content--semantic--neutral--primary);
      margin-bottom: 4px;
    }

    .detailsItemContent {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      gap: 4px;

      &.dueDateContent {
        margin: -1px;
      }
    }

    .detailsItemAddButton {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 4px;
    }
  }

  .cardActivitiesSection {
    .sectionTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
    }
  }
}
