:global(#app) {

  :global(.card-modal) {
    transform: translate(-50%, 0);
    top: 3.5rem;
    width: 700px;
    max-height: calc(100vh - 7rem);

    :global(.c__modal__scroller) {
      padding: 0;
    }
  }

  .cardModalHeader {
    border-bottom: 1px solid var(--c--theme--colors--greyscale-200);
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    z-index: 1000;

    .cardModalHeaderLeft {
      .boardSelectorIcon {
        margin-left: 4px;
      }
    }

    .cardModalHeaderRight {
      display: flex;
      flex-direction: row;
      gap: 16px;
      position: relative;
    }

    .optionsButtonContainer {
      position: relative;
    }

    .deletePopupContainer {
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: 8px;
      z-index: 1000;
    }

  }

  .cardModalContent {
    padding: 58px 20px 0 20px;
  }

  .cardModalSection {
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    gap: 4px;

    .sectionTitle {
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      color: var(--c--theme--colors--greyscale-800);
      margin-bottom: 0.5rem;
    }

    .cardModalSectionLeft {
      width: 28px;
      flex-shrink: 0;
      margin-top: 2px;
    }

    .cardModalSectionRight {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }

  .cardNameSection {
    padding-top: 24px;
    margin-bottom: 24px;

    .cardName {
      font-size: 22px;
      font-weight: bold;
      line-height: 28px;
    }
  }

  .cardButtonsSection {
    margin-bottom: 32px;

    .cardModalSectionRight {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      button {
        height: 32px;
      }
    }
  }

  .cardDetailsSection {

    .cardModalSectionRight {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      flex-wrap: wrap;
    }

    .detailsItemTitle {
      font-size: 12px;
      font-weight: bold;
      line-height: 20px;
      color: var(--c--theme--colors--greyscale-800);
      margin-bottom: 4px;
    }

    .detailsItemContent {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      gap: 4px;

      &.dueDateContent {
        margin: -1px;
      }
    }

    .detailsItemAddButton {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 4px;
    }
  }


  // .wrapper {
  //   top: 110px;
  // }

  // .actionButton {
  //   margin-top: 8px;
  //   width: 100% !important;
  // }

  // .actionIcon {
  //   color: #17394d;
  //   margin-right: 8px;
  //   height: auto;
  // }

  // .actions {
  //   margin-bottom: 24px;

  //   @media only screen and (max-width: 797px) {
  //     flex: 1;
  //   }

  //   @media only screen and (max-width: 425px) {
  //     padding: 0;
  //     width: 100%;
  //   }
  // }

  // .actionsTitle {
  //   color: #8c8c8c;
  //   font-size: 12px;
  //   font-weight: normal;
  //   letter-spacing: 0.04em;
  //   margin-top: 16px;
  //   text-transform: uppercase;
  //   line-height: 20px;
  //   margin-bottom: -4px;
  // }


  // .contentModule {
  //   margin-bottom: 24px;
  // }

  // .contentPadding {
  //   padding: 8px 8px 0 16px;

  //   @media only screen and (max-width: 797px) {
  //     padding-right: 16px;
  //     width: 100% !important;
  //   }
  // }

  // .cursorPointer {
  //   cursor: pointer;
  // }

  // .dueDate {
  //   background: rgba(9, 30, 66, 0.04);
  //   border: none;
  //   border-radius: 3px;
  //   color: #6b808c;
  //   cursor: pointer;
  //   line-height: 20px;
  //   outline: none;
  //   padding: 6px 14px;
  //   text-align: left;
  //   text-decoration: underline;
  //   transition: background 0.3s ease;
  //   vertical-align: top;

  //   &:hover {
  //     background: rgba(9, 30, 66, 0.08);
  //     color: #17394d;
  //   }
  // }

  // .descriptionButton {
  //   background: rgba(9, 30, 66, 0.04);
  //   border: none;
  //   border-radius: 3px;
  //   display: block;
  //   color: #6b808c;
  //   cursor: pointer;
  //   min-height: 54px;
  //   outline: none;
  //   padding: 8px 12px;
  //   position: relative;
  //   text-align: left;
  //   text-decoration: none;
  //   width: 100%;

  //   &:hover {
  //     background: rgba(9, 30, 66, 0.08);
  //     color: #092d42;
  //   }
  // }

  // .descriptionButtonText {
  //   position: absolute;
  //   top: 12px;
  // }

  // .descriptionText {
  //   background: transparent;
  //   border: none;
  //   color: #17394d;
  //   margin-bottom: 8px;
  //   outline: none;
  //   overflow: hidden;
  //   padding: 0;
  //   text-align: left;
  //   width: 100%;
  // }

}
