.itemWrapper {
  position: relative;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.125rem 0;
  cursor: pointer;
  background-image: none;
  color: var(--c--contextuals--content--semantic--neutral--primary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 0.25rem;
  border: 1.5px solid rgba(0,0,0,0);

  span {
    line-height: 1;
  }

  &:not(.disableHover):hover {
    background-color: var(--c--contextuals--background--semantic--overlay--primary);
    .itemEdit {
      display: flex;
    }

    .itemDescription {
      display: flex;
    }
  }

  &:focus {
    background-color: var(--c--contextuals--background--semantic--overlay--primary);
  }

  &.popoverOpened {
    background-color: var(--c--contextuals--background--semantic--overlay--primary);

    .itemEdit {
      display: flex;
    }
  }
}

// Define the class so it is exported by CSS Modules
.disableHover {}

.itemContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 24px;
}

.itemWrapperActive {
  background-color: var(--c--contextuals--background--semantic--overlay--primary);
}

.itemIcon {
  background-color: var(--c--contextuals--background--semantic--brand--primary);
  border: 1px solid hsla(0,0%,100%,.2);
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin: 0.25rem;
  margin-right: 0.5rem;
  flex-shrink: 0;

  &::before {
    color: #ffffff;
  }
}

.itemLabels {
  flex: 1;
  overflow: hidden;
}

.itemName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.itemProjectName {
  font-size: 12px;
  color: var(--c--contextuals--content--semantic--neutral--secondary);
  line-height: 1.4;
}

.itemEdit {
  display: flex;
  display: none;
  margin-right: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0);

  &:hover {
    background-color: var(--c--contextuals--background--semantic--overlay--primary);
  }

  span {
    font-size: 20px;
    color: var(--c--contextuals--content--semantic--neutral--primary);
  }
}

.itemDescription {
  font-size: 0.75rem;
  font-weight: 400;
  position: absolute;
  left: calc(100% - 10px);
  bottom: -10px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 8px;
  border-radius: 4px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}
