:global(#app) {
  .field {
    margin-bottom: 8px;
  }

  .text {
    color: var(--c--contextuals--content--semantic--neutral--secondary);
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 6px;
  }
}
