.content {
  padding: 0.5rem 5px;
  overflow-y: auto;
  max-height: 500px;
}

.section {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.sectionTitle {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 600;
  color: var(--c--theme--colors--greyscale-800);
}

.keywordInput {
  width: 100%;
}

.filterList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filterLabel {
  display: flex;
  align-items: center;
  gap: 8px;
}
