:global(#app) {
  .popoverWrapper {
    background-color: var(--c--components--modal--background-color);
    border-radius: var(--c--components--modal--border-radius);
    border: 1px solid var(--c--contextuals--border--semantic--neutral--primary);
    box-shadow: var(--c--components--modal--box-shadow);
    color: var(--c--components--modal--color);
    box-shadow: 0 10px 20px -5px var(--c--contextuals--background--semantic--overlay--primary), 0 6px 10px -5px var(--c--contextuals--background--semantic--overlay--primary);
    z-index: 50;
  }

  .popoverContent {
     padding: 12px;
  }
}
