:global(#app) {

  .fieldWrapper {
    display: flex;
    gap: 8px;
    flex-direction: row;
    width: 100%;
    margin-bottom: 12px;
  }

  .fieldBox {
    flex: 1;
    min-width: 0;

    .text {
      font-size: 12px;
      font-weight: bold;
      padding-bottom: 4px;
      padding-left: 2px;
    }

    input {
      border-radius: 4px;
      border: 1px solid var(--c--theme--colors--greyscale-400);
      height: 36px;
      width: 100%;
      font-size: 14px;
      padding: 0 8px;
      &:focus {
        border-color: var(--c--theme--colors--primary-800);
        outline: none;
      }
    }
  }

  .buttonsWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    flex-direction: row;
    width: 100%;
  }

}
