:global(#app) {
  .controls {
    clear: both;
    margin-top: 6px;
  }

  .field {
    background: var(--c--contextuals--background--surface--primary);
    border: 1px solid var(--c--contextuals--border--semantic--neutral--secondary);
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 4px;
    overflow: hidden;
    padding: 8px 12px;
    resize: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
