:global(#app) {

  .wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;

    .checkbox {
      margin-top: 4px;
      margin-right: 0.5rem;
    }

    .taskWrapper {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0.5rem;
      border-radius: 4px;
      display: flex;
      align-items: center;

      &.contentHoverable:hover {
        background: var(--c--theme--colors--greyscale-100);
      }
    }

    .task {
      flex: 1;
      font-size: 14px;
      line-height: 20px;
      color: var(--c--theme--colors--greyscale-800);

      &.taskCompleted {
        color: var(--c--theme--colors--greyscale-400);
        text-decoration: line-through;
      }
    }

    .taskActionsButton {
      opacity: 0;
    }

    .taskWrapper:hover .taskActionsButton {
      opacity: 1;
    }

  }

}
