:global(#app) {

  .progressWrapper {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .progressBackground {
    position: relative;
    height: 6px;
    background-color: var(--c--theme--colors--greyscale-200);
    width: 200px;
    border-radius: 4px;
    flex: 1;
  }


  .progressBar {
    height: 6px;
    background-color: var(--c--theme--colors--primary-800);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 30%;
    border-radius: 4px;
    transition: width 0.3s ease-in-out;
  }

  .count {
    color: var(--c--theme--colors--greyscale-400);
    display: inline-block;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
    width: 50px;
  }

  .tasksWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
  }

}
