:global(#app) {

  .searchContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: -12px -12px 12px -12px;
    padding: 0 12px;
    border-bottom: 1px solid var(--c--theme--colors--greyscale-200);

    input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 14px;
      height: 50px;
      color: var(--c--theme--colors--greyscale-800);

      &::placeholder {
        color: var(--c--theme--colors--greyscale-400);
      }
    }
  }

  .filterList {
    display: flex;
    flex-direction: column;
    margin: 0 -12px;
    width: calc(100% + 24px);
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 12px;

    .filterItem {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      cursor: default;
      padding-right: 12px;

      &:hover {
        background-color: var(--c--theme--colors--greyscale-100);
        .itemActions {
          opacity: 1;
        }
      }

      &.draggable {
        cursor: grab;

        &:active {
          cursor: grabbing;
        }
      }

      label {
        padding: 0;
        margin: 0;
        border: none !important;
        width: 100%;
        background-color: transparent !important;

        > div {
          width: 100%;
          padding: 4px 12px;
        }
      }
    }
  }

  .dragging {
    opacity: 0.5;
  }

  .filterLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    flex: 1;
    height: 32px;

    .labelIcon {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .itemActions {
    display: flex;
    align-items: center;
    gap: 4px;
    opacity: 0;

    > button {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }


  .addButton {
    justify-content: center;
  }

}
