@import '../../styles.variables.scss';

:global(#app) {
  .field {
    border: none;
    border-color: #bbb;
    border-radius: 3px;
    color: #17394d;
    display: block;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 4px 8px;
    resize: none;
    width: 100%;

    &:focus {
      background: #fff;
      border-color: $border-grey;
      box-shadow: none;
    }
  }
}
