:global(#app) {

  .attachmentsGallery {
    margin-bottom: 0.75rem;
  }

  .content {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
  }

  .contentPdf {
    height: 100%;
    width: 1120px;
  }

  .contentError {
    color: var(--c--contextuals--content--semantic--neutral--primary);
    font-size: 20px;
    font-weight: bold;
    height: 20px;
    width: 470px;
  }
}
