:global(#app) {

  .wrapper {
    cursor: pointer;
    margin-bottom: 8px;
    min-height: 80px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    border-radius: 4px;
    padding: 0.5rem;

    &:hover {
      background: var(--c--theme--colors--greyscale-100);
    }
  }

  .wrapperSubmitting {
    background: var(--c--theme--colors--greyscale-100);
  }

  .thumbnail {
    border-radius: 4px;
    background: var(--c--theme--colors--greyscale-100);
    height: 80px;
    text-align: center;
    text-decoration: none;
    width: 112px;
  }

  .extension {
    color: var(--c--theme--colors--greyscale-600);
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    line-height: 80px;
    overflow: hidden;
    padding: 0 20px 0 20px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: 100%;
  }

  .details {
    box-sizing: border-box;
    margin: 0;
    min-height: 80px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .name {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    word-wrap: break-word;
    flex: 1;
  }

  .date {
    display: block;
    color: var(--c--theme--colors--greyscale-600);
    line-height: 20px;
  }

  .options {
    display: block;
    color: var(--c--theme--colors--greyscale-600);
    line-height: 20px;
  }


  .option {
    background: none;
    border: none;
    color: var(--c--theme--colors--greyscale-600);
    cursor: pointer;
    outline: none;
    padding: 0;

    &:hover {
      color: var(--c--theme--colors--greyscale-800);
    }
  }

  .optionIcon {
    margin-right: 6px;
  }

  .optionText {
    text-decoration: underline;
  }

  .attachmentActionsButton {
    opacity: 0;
  }

  .wrapper:hover .attachmentActionsButton {
    opacity: 1;
  }
}
