:global(#app) {

  .itemWrapper {
    display: flex;
    flex-direction: column;
    cursor: grab;
    border: 1.5px solid transparent;
    border-radius: 4px;
    min-height: 35px;

    &:active {
      cursor: grabbing;
    }

    &.dragging {
      opacity: 0.5;
    }

    &:not(.disableHover):hover {
      background-color: var(--c--contextuals--background--semantic--overlay--primary);
      .itemActions {
        display: flex;
      }
    }

    &.popoverOpened {
      background-color: var(--c--contextuals--background--semantic--overlay--primary);
      .itemActions {
        display: flex;
        background-color: var(--c--contextuals--background--semantic--overlay--primary);
        border-radius: 4px;
      }
    }

  }

  .itemHeader {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.25rem;
    flex: 1;
    cursor: pointer;
  }

  .itemDropTarget {
    background-color: var(--c--contextuals--background--semantic--overlay--primary);
    outline: 1px solid var(--c--contextuals--border--semantic--brand--primary);
  }

  .itemToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 20px;
    height: 20px;
    color: var(--c--contextuals--content--semantic--neutral--secondary);

    &:hover {
      color: var(--c--contextuals--content--semantic--neutral--primary);
    }
  }

  .itemIcon {
    color: var(--c--contextuals--content--semantic--neutral--secondary);
  }

  .itemName {
    flex: 1;
    font-size: 14px;
    font-weight: 500;
    color: var(--c--contextuals--content--semantic--neutral--primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .itemActions {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 4px;
    color: var(--c--contextuals--content--semantic--neutral--primary);
    display: none;
    padding: 0;
    border: 1px solid transparent;

    > span {
      font-size: 20px;
    }

    &:hover {
      background-color: var(--c--contextuals--background--semantic--overlay--primary);
      border-radius: 4px;
    }
  }

 }
