:global(#app) {

  .fieldWrapper {
    display: flex;
    gap: 8px;
    flex-direction: row;
    width: 100%;
    margin-bottom: 12px;
  }

  .fieldBox {
    flex: 1;
    min-width: 0;

    .text {
      font-size: 12px;
      font-weight: bold;
      padding-bottom: 4px;
      padding-left: 2px;
    }

    input {
      border-radius: 4px;
      height: 36px;
      width: 100%;
      font-size: 14px;
      padding: 0 8px;
      width: 100px;

      color: var(--c--contextuals--content--semantic--neutral--primary);
      border-radius: var(--c--components--forms-input--border-radius);
      border-width: var(--c--components--forms-input--border-width);
      border-color: var(--c--components--forms-input--border-color);
      border-style: var(--c--components--forms-input--border-style);
      background-color: var(--c--components--forms-input--background-color);

      &:disabled {
        opacity: 0.4;
      }

      &:focus {
        border-color: var(--c--contextuals--border--semantic--brand--primary);
        outline: none;
      }
    }
  }

  .editButton {
    height: 36px;
    width: 36px;
    margin-top: 22px;
  }

  .buttonsWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    flex-direction: row;
    width: 100%;
  }

}
