:global(#app) {

  .itemActivity {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    padding: 0.25rem 0 0 0;
  }

  .user {
    margin-top: -2px;
  }

  .content {
    padding-bottom: 0.5rem;
    flex: 1;
  }

  .author {
    font-weight: bold;
    line-height: 20px;
  }

  .date {
    color: var(--c--contextuals--content--semantic--neutral--tertiary);
    font-size: 12px;
    line-height: 20px;
  }

}
