.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  line-height: 1em;
  font-size: var(--c--components--badge--font-size);
  padding-inline: var(--c--components--badge--padding-inline);
  padding-block: var(--c--components--badge--padding-block);
  border-radius: var(--c--components--badge--border-radius);
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

.badgeUppercased {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.badgeAccent {
  background-color: var(--c--components--badge--accent--background-color);
  color: var(--c--components--badge--accent--color);
}

.badgeNeutral {
  background-color: var(--c--components--badge--neutral--background-color);
  color: var(--c--components--badge--neutral--color);
}

.badgeDanger {
  background-color: var(--c--components--badge--danger--background-color);
  color: var(--c--components--badge--danger--color);
}

.badgeSuccess {
  background-color: var(--c--components--badge--success--background-color);
  color: var(--c--components--badge--success--color);
}

.badgeWarning {
  background-color: var(--c--components--badge--warning--background-color);
  color: var(--c--components--badge--warning--color);
}

.badgeInfo {
  background-color: var(--c--components--badge--info--background-color);
  color: var(--c--components--badge--info--color);
}
