:global(#app) {

  .dragOverlayItem {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    background-color: rgba(0,0,0,0.05);
    cursor: grabbing;
    z-index: 9999;
    span {
      font-weight: 500;
      opacity: 0.5;
      font-size: 0.875rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}
