:global(#app) {
  .wrapper {
    margin: 0 -12px;
    max-height: 60vh;
    max-width: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
    }
  }

  .markAllAsReadButton {
    border-top: 1px solid var(--c--contextuals--border--semantic--neutral--tertiary);
    display: flex;
    justify-content: center;
    margin: 0px 0px -12px 0px;
    padding: 12px 0px;

    button {
      width: 100%;
      justify-content: center;
    }
  }

  .item {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background: var(--c--contextuals--background--semantic--neutral--tertiary);
    }
  }

  .itemBody {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 8px;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    min-width: 0;
  }

  .itemContent {
    flex: 1;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-width: 0;
  }

  .itemDate {
    font-size: 11px;
    color: var(--c--contextuals--content--semantic--neutral--tertiary);
  }

  .itemDeleted {
    display: inline-block;
    line-height: 20px;
    min-height: 20px;
    padding: 0 4px 0 8px;
    vertical-align: top;
    width: calc(100% - 20px);
  }

  .noUnreadNotifications {
    font-size: 14px;
    padding: 8px 12px;
    text-align: center;
    color: var(--c--contextuals--content--semantic--neutral--tertiary);
  }
}
