.feedback-button.c__button {
  white-space: nowrap;
  color: var(--c--contextuals--content--semantic--info--primary);
  background-color: var(--c--contextuals--background--semantic--info--primary);

  &:hover {
    color: var(--c--contextuals--content--semantic--info--primary);
    background-color: var(--c--contextuals--background--semantic--info--primary);
  }

  &:active {
    color: var(--c--contextuals--content--semantic--info--primary);
    background-color: var(--c--contextuals--background--semantic--info--primary);
  }
}
