:global(#app) {
  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .topBar {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    padding: 0.75rem;
    border-bottom: 1px solid var(--c--contextuals--border--semantic--neutral--tertiary);
    flex-shrink: 0;
  }

  .addBoardButton {
    flex: 1;
    font-weight: 500;
    overflow: hidden;

    .addBoardButtonText {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0.75rem 0.75rem 0.75rem;
    border-bottom: 1px solid var(--c--contextuals--background--semantic--overlay--primary);
  }

  .projectsSelect {
    width: 100%;
  }

  .spaces {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    min-height: 0;

    .space {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 10px 0.75rem 0.75rem 0.75rem;

      &:not(:last-child) {
        border-bottom: 1px solid var(--c--contextuals--border--semantic--neutral--tertiary);
      }

      .spaceTitle {
        font-size: 14px;
        font-weight: 700;
        color: var(--c--contextuals--content--semantic--neutral--primary);
        height: 35px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }

  .emptySpace {
    font-size: 14px;
    font-weight: 500;
    color: var(--c--contextuals--content--semantic--neutral--secondary);
    text-align: center;
  }

  .boards {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
