.descriptionButton {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--c--contextuals--border--semantic--neutral--primary);
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  text-align: left;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--c--contextuals--background--semantic--neutral--tertiary);;
    border-color: var(--c--contextuals--border--semantic--neutral--tertiary);
  }

  &:focus {
    outline: 2px solid var(--c--components--forms-input--border-color--focus);
    outline-offset: 2px;
  }
}

.descriptionButtonText {
  color: var(--c--contextuals--content--semantic--neutral--secondary);
}

.descriptionText {
  border: 1px solid transparent;
  border-radius: 4px;
  background: transparent;
  min-height: 40px;
  line-height: 1.5;

  :global(.markdown-body) {
    color: var(--c--contextuals--content--semantic--neutral--primary);
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
  }
}

.descriptionEditor {
  min-height: 200px;
  overflow: hidden;

  color: var(--c--contextuals--content--semantic--neutral--primary) !important;
  border-radius: var(--c--components--forms-input--border-radius);
  border-width: var(--c--components--forms-input--border-width);
  border-color: var(--c--components--forms-input--border-color);
  border-style: var(--c--components--forms-input--border-style);
  background-color: var(--c--components--forms-input--background-color);
}

.editorContent {
  min-height: 150px;
  color: var(--c--contextuals--content--semantic--neutral--primary) !important;
  padding: 12px;
  font-size: 14px;
  line-height: 1.5;
  border: none;
  outline: none;
  resize: vertical;

  p {
    margin: 16px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:focus {
    outline: none;
  }
}
