:global(#app) {

  .menuItem {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    text-align: left;

    &:hover {
      background: var(--c--theme--colors--greyscale-100);
    }

    &:focus {
      outline: none;
    }
  }

}
