:global(#app) {

  .menuItem {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: rgba(22, 22, 22, 1);
    width: 100%;
    padding: 0.5em 1em;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    &:focus {
      outline: none;
    }
  }

  .menuItemActive {
    background: rgba(0, 0, 0, 0.05);
  }

  .menuItemTitle {
    font-size: 16px;
    color: rgba(22, 22, 22, 1);
  }

  .menuItemDescription {
    font-size: 14px;
    color: rgba(22, 22, 22, 0.5);
  }

}
