@import '../../styles.variables.scss';

:global(#app) {
  .action {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
  }

  .actions {
    align-items: center;
    display: flex;
    // gap: 20px;
    justify-content: space-between;
    margin: 20px 20px;
  }

  .wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #fff;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
