@import '../../styles.variables.scss';

:global(#app) {
  .filter {
    margin-left: 18px;
  }

  .filterButton {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    border-radius: 3px;
    border: 1px solid $border-grey;

    > span {
      margin-right: 6px;
    }

    &.filterButtonMembers {
      span::before {
        --icon-size: 1rem;
      }
    }

  }

  .filterIcon {
    font-size: 0.9rem;
    margin-top: -1px;
  }

  .filterItem {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    margin-right: 4px;
    max-width: 190px;
    vertical-align: top;
  }

  .filterLabel {
    background: $background-grey-hover;
    border-radius: 3px;
    color: $dark-grey;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    padding: 2px 8px;

    &:hover {
      background: $border-grey;
    }
  }

  .filterTitle {
    border-radius: 3px;
    color: $dark-grey;
    display: inline-block;
    font-size: 14px;
  }

  .search {
    // height: 30px;
    // transition: width 0.2s ease;
    width: 280px;
    font-size: 14px;
    padding: 10px;
    &::placeholder {
      color: $middle-grey;
    }

    @media only screen and (max-width: 797px) {
      width: 220px;
    }

  }

  // .searchInactive {
  //   color: #fff;
  //   height: 24px;
  //   width: 220px;

  //   input {
  //     background: rgba(0, 0, 0, 0.24);
  //     border: none;
  //     color: #fff !important;
  //     font-size: 12px;

  //     &::placeholder {
  //       color: #fff;
  //     }
  //   }
  // }
}
