@import '../../../styles.variables.scss';

:global(#app) {
  .controls {
    display: flex;
    max-width: 280px;

    @media only screen and (max-width: 767px) {
      max-width: 226px;
    }
  }

  .createButton {
    white-space: nowrap;
  }

  .field {
    margin-bottom: 8px;
  }

  .importButton {
    background: transparent;
    box-shadow: none;
    color: #6b808c;
    font-weight: normal;
    margin-left: auto;
    margin-right: 0;
    overflow: hidden;
    text-align: left;
    text-decoration: underline;
    text-overflow: ellipsis;
    transition: none;
    white-space: nowrap;

    &:hover {
      background: rgba(9, 30, 66, 0.08);
      color: #092d42;
    }
  }

  .importButtonIcon {
    text-decoration: none;
  }

  .templatesWrapper {
    border-top: 1px solid $border-grey;
    margin-top: 10px;
    padding-top: 10px;
    > p {
      font-size: 14px;
      color: $middle-grey;
      margin-bottom: 6px;
    }
  }

  .templatesList {
    display: flex;
    flex-direction: column;
  }

  .templateItem {
    display: flex;
    flex-direction: column;
  }

  .board {
    position: relative;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
    background-image: none;
    color: $dark-grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 0.25rem;

    span {
      line-height: 1;
    }

    &:hover {
      background-color: $background-grey-hover;
    }

    &:focus {
      background-color: #ffffff;
    }
  }

  .boardIcon {
    background-color: #5F60DE;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      --icon-size: .7rem;
      color: #ffffff;
    }
  }

  .boardDescription {
    position: absolute;
    left: calc(100% - 10px);
    bottom: -10px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 8px;
    border-radius: 4px;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
