:global(#app) {

  .wrapper {
    background-color: var(--c--theme--colors--primary-050);
    border-radius: 4px;
    border: 1px dashed var(--c--theme--colors--primary-400);
    padding: 26px 16px;
    cursor: pointer;
    max-width: 350px;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: var(--c--theme--colors--primary-800);
    font-size: 20px;
    flex-shrink: 0;
  }

  .text {
    text-align: left;
    flex: 1;

    .bold {
      font-weight: 600;
    }

    .link {
      color: var(--c--theme--colors--primary-800);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
