:global(#app) {

  .itemComment {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;

    .commentActionsButton {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
    }

    &:hover .commentActionsButton {
      opacity: 1;
    }

    &.popoverOpened .commentActionsButton {
      opacity: 1;
      background-color: var(--c--contextuals--background--semantic--overlay--primary);
    }
  }

  .content {
    flex: 1;
  }

  .user {
    margin-top: -2px;
  }

  .header {
    position: relative;
    padding-bottom: 0.5rem;

    .title {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .author {
      font-weight: bold;
      line-height: 20px;
      margin-right: 8px;
    }

    .date {
      color: var(--c--contextuals--content--semantic--neutral--tertiary);
      font-size: 12px;
      line-height: 20px;
    }

  }

  .text {
    background: #fff;
    border-radius: 0px 8px 8px;
    box-shadow: 0 1px 2px -1px rgba(9, 30, 66, 0.25),
      0 0 0 1px rgba(9, 30, 66, 0.08);
    box-sizing: border-box;
    display: inline-block;
    margin: 1px 2px 0px 1px;
    max-width: 100%;
    overflow: hidden;
    padding: 8px 12px;
    white-space: pre-wrap;
  }

}
