:global(#app) {

  .form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .field {
    width: 100%;
    padding: 5px 8px 5px 12px;
    line-height: 20px;
    resize: none;
    min-height: 32px;
    display: flex;
    font-size: 14px;

    color: var(--c--contextuals--content--semantic--neutral--primary);
    border-radius: var(--c--components--forms-input--border-radius);
    border-width: var(--c--components--forms-input--border-width);
    border-color: var(--c--components--forms-input--border-color);
    border-style: var(--c--components--forms-input--border-style);
    background-color: var(--c--components--forms-input--background-color);

    &:focus {
      outline: none;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

}
