:global(#app) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: var(--c--contextuals--content--semantic--neutral--primary);
  }

  // No need of using media query to hide it on mobile, it fits perfectly since there is almost no content on the page
  .backgroundWrapper {
    flex: 1;
    width: 100%;
    background: url('../../assets/images/projects_background.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    max-height: 400px;
    margin-top: auto;
    margin-bottom: 5vh;
  }

  .title {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 30px;
  }

  .firstProjectToCreate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .choice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .notification {
    background: var(--c--contextuals--background--semantic--error--primary);
    color: var(--c--contextuals--content--semantic--neutral--primary);
    float: right;
    font-size: 12px;
    line-height: 20px;
    padding: 0px 6px;
    border: none;
    border-radius: 3px;
    outline: none;
    text-align: left;
    transition: background 0.3s ease;
  }
}
