:global(#app) {
  .search {
    width: 280px;
    height: 36px;
    --c--components--forms-input--border-radius--focus: 8px;

    input {
      font-size: 0.875rem;
    }

    :focus-within {
      box-shadow: none !important;
    }
  }

  .labelsButton, .membersButton {
    height: 36px;

    &.labelsButtonFilled, &.membersButtonFilled {
      padding-right: 8px;
    }
  }

  .noMember, .noLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid var(--c--contextuals--border--semantic--neutral--primary);
    border-radius: 100%;
  }

}
