:global(#app) {
  .field {
    width: 100%;
    max-width: 100%;
    padding: 0.5rem;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--c--contextuals--border--semantic--neutral--tertiary);
  }

  .controls {
    clear: both;
    margin-top: 6px;
  }

}
