:global(#app) {
  .field {
    width: 100%;
    max-width: 100%;
    padding: 0.5rem;
    height: 120px;

    color: var(--c--contextuals--content--semantic--neutral--primary);
    border-radius: var(--c--components--forms-input--border-radius);
    border-width: var(--c--components--forms-input--border-width);
    border-color: var(--c--components--forms-input--border-color);
    border-style: var(--c--components--forms-input--border-style);
    background-color: var(--c--components--forms-input--background-color);
  }

  .controls {
    clear: both;
    margin-top: 6px;
    margin-bottom: 12px;
  }

}
